# Ignore python bytecode:
*.pyc

# Ignore bot-specific config file:
config.yml

# Ignore logs directory:
logs/

# Ignore cookies file:
.cookies

# Ignore OS X's crud:
.DS_Store

# Ignore pydev's nonsense:
.project
.pydevproject
.settings/
